.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.movies-card {
    cursor: pointer;
	justify-content: center;
	align-items: center;
    border-radius:4px;
    padding: 10px 10px;
    width: 20vw;
    height: 20vw;
    box-shadow: 0 4px 8px 0 rgba(7, 0, 0, 0.5);
    transition: 0.3s;
    background-image: url('../images/paper-texture.jpg');
    font-family: 'Lato', sans-serif;
}

.container {
    padding: 50px;
    align-items: center;
  }

.movies-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}